@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Poppins:wght@200&display=swap');

.primeiro {
    overflow: hidden;
    max-width: 390px;
    background: whitesmoke;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 5px;
}

.primeiro .titulo-texto {
    display: flex;
    width: 200%;
}

.primeiro .titulo-texto .titulo {
    width: 50%;
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.primeiro .form-container {
    width: 100%;
    overflow: hidden;
}

.form-container .slide-controls {
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgray;
}

.slide-controls .slide {
    height: 100%;
    width: 100%;
    z-index: 1;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    transition: all 0.6s ease;
}

.slide-controls .signup {
    color: #000;
}

.slide-controls .slide-tab {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 5px;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background: -webkit-linear-gradient(left, #ff002e, #ff1b22, #ff6b00);    ;
}

input[type="radio"] {
    display: none;
}

#signup:checked~.slide-tab {
    left: 50%;
}

#signup:checked~.signup {
    color: #fff;
}

#signup:checked~.login {
    color: #000;
}

.form-container #form-inner {
    display: flex;
    width: 200%;
}

.form-container #form-inner form {
    width: 50%;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-container #form-inner form .field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

#form-inner form .field input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    font-size: 17px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    transition: all 0.4s ease;
}

#form-inner form .field input:focus {
    border-color: #ff002e;
}

#form-inner form .pass-link {
    margin-top: 5px;
}

#form-inner form .pass-link a,
#form-inner form .signup-link a {
    color: #ff1b22;
    text-decoration: none;
}

#form-inner form .signup-link {
    text-align: center;
    margin-top: 30px;
}

#form-inner form .pass-link a:hover,
#form-inner form .signup-link a:hover {
    text-decoration: underline;
}

form .field input[type="submit"] {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    border: none;
    cursor: pointer;
    background: -webkit-linear-gradient(left, #ff002e, #ff1b22, #ff6b00);
}


* {
    margin: 0 auto;
    padding: 0;
    font-family: 'Abhaya Libre', serif;
}

header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

#header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

.menu-nav {
    text-decoration: none;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu-nav ul {
    margin-top: 20px;
}

.menu-nav li {
    float: left;
    font-size: 18px;
}

.menu-nav a {
    padding: 12px 16px 12px 16px;
}


.menu-nav a:hover {
    color: #fff;
    background-color: #ff1b22;

}

.menu-nav li a {
    font-weight: bold;
    color: #ff1b22;
}

#capa {
    background-image: linear-gradient(50deg, #ff002e, #ff1b22, #ff6b00);
    padding: 180px;
}

.foto {
    width: 420px;
    float: right;
    border-radius: 45px;
}

.titulo {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 33px;
    margin-bottom: 10px;
}

.subtitulo-capa {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    padding-bottom: 50px;
}

.gratis {
    margin: 3px;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    border: none;
    cursor: pointer;
    color: #ff1b22;
    width: 230px;
    height: 60px;
    border-radius: 10px;
}

.gratis:hover {
    background-color: whitesmoke;
}

#section-dois {
    padding: 30px;
}

.content-section {
    color: black;
    padding: 0 100px 50px 100px;
    overflow: auto;
    min-height: 400px;
}

.image {
    width: 240px;

}

.section-card {
    width: 32%;
    float: left;
    text-align: center;
    overflow: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(231, 228, 228);    ;
    margin: 7px;
    border-radius: 10px;
    font-size: 17px;


}

.recursos {
    color: #ff1b22;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: 23px;
    padding: 50px;
}

.ver-mais {
    color: #ff6b00;
    border-color: #ff6b00;
    background-color: rgb(238, 237, 237);
    border-radius: 10px;
    width: 150px;
    height: 30px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
}

.div-um {
    width: 32%;
    float: left;
    text-align: center;
    overflow: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(231, 228, 228);    ;
    margin: 7px;
    border-radius: 10px;
    font-size: 17px;
}

.div-dois {
    width: 50%;
    float: left;
    text-align: center;
    overflow: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(231, 228, 228);    ;
    margin: 7px;
    border-radius: 10px;
    font-size: 17px;
}


.footer-nav {
    text-decoration: none;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-content: center;
}

footer {
    background-color: black;
    padding: 90px;
    color: white;
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

footer li a {
    color: white;
}

footer ul {
    padding: 0;
}

.logo {
    font-family: 'Abhaya Libre', serif;
    font-size: 50px;
}