@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Poppins:wght@200&display=swap');


#header {
    padding: 30px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

#header ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none
}


#header li {

    list-style: none;
    display: inline-block;
    margin: 0 15px 0 0;
    padding: 13px;
}


#header a {

    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}




.menu-nav {

    position: relative;
}

#capa {

    background-image: linear-gradient(50deg, #ff002e, #ff1b22, #ff6b00);
    padding: 180px;

}

* {
    margin: 0 auto;
}

.titulo {
    color: white;

    font-family: 'Times New Roman', Times, serif;
    font-size: 33px;
    padding-bottom: 50px;
}

.subtitulo-capa {
    color: white;
    font-family: 'Times New Roman', Times, serif;

    font-size: 23px;


    padding-bottom: 50px;
}

.gratis {
    margin: 3px;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    border: none;
    cursor: pointer;
    color: rgb(29, 29, 75);
    width: 230px;
    height: 60px;
    border-radius: 10px;
}

.gratis:hover {

    background-color: whitesmoke;
}

#section-dois {
    padding: 230px;


}

.recursos {
    color: #ff1b22;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;

}

.recursos {
    color: #ff1b22;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;

}

.ver-mais {

    color: #ff6b00;
    border-color: #ff6b00;
    background-color: rgb(238, 237, 237);
    border-radius: 10px;
    width: 120px;
    height: 30px;
    text-transform: uppercase;
}

.footer-nav {
    text-decoration: none;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-content: center;
}

footer {
    background-color: black;
    padding: 90px;
    color: white;
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

footer li a {
    color: white;
}

footer ul {
    padding: 0;
}

.logo {
    font-size: 50px;
    font-family: 'Abhaya Libre', serif;

}